.messageDisplayBox {
	border-bottom: 1px solid rgb(230,230,230);
	min-height: 280px;
	/*width: 300px;*/
	background: rgb(240,240,240);
	margin: 0px;
	padding: 4px;
	/*border-radius: 4px;*/
	background: white;
}


.messageBubble {
	border: 1px solid rgb(200,200,200);
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
	background: white;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.sendMessageButton {
	height: 34px;
	border: 0px;
	cursor: pointer;
	width: 20px;
}
.sendMessageButton:hover {
	opacity: 0.7;
}
.sendMessageButton:focus {
	outline: none;
}
.inputMessage {
	border: 0px;
	/*border-bottom: 1px solid rgb(180,180,180);*/
}
.inputMessage:focus {
	outline: none;
}